body {
    background-color: lightgray;
}

.circle {
    height: 10em;
    width: 10em;
    background-color: lime;
    border-radius: 50%;
    border: .5em solid white;
    display: inline-block;
}

#red {

}

#blue {

}

#orange {

}

#green {

}

#bottom {
    margin-left: 1em;
}

.thumb {
    height: 12em;
    width: 12em;
}
.blog {
    height: 5em;
    width: 5em;
}