body {
    background-color: lightgray;
    text-align: center;
}

.circlepair {

    width: 30em;
}

.circle {
    height: 10em;
    width: 10em;
    background-color: lime;
    border-radius: 50%;
    border: .3em solid white;
    display: inline-block;
}
.circle h4 {
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
#red {
    background-color: red;
}

#blue {
    background-color: blue;
    margin-left: 5em;
}

#orange {
    background-color: orange;
    margin-left: 5em;

}

#green {
    background-color: green;
}

#bottom {
    margin-left: 1em;
}

.thumb {
    display: inline-block;
    height: 12em;
    width: 16em;
}
.blog {
    float: left;
    height: 4em;
    width: 4em;
}


.container-fluid {
    width: 100%;
}
