body {
    background-color: lightgray;
}

.circlepair {

    width: 30em;
}

.circle {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border: .3em solid white;
    display: inline-block;
}

.small-circle {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

#smred {
    background-color: red;
}

#smorange {
    background-color: orange;
}

#smgreen {
    background-color: green;
}

#smblue {
    background-color: blue;
}

.circle h4 {
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}
#red {
    background-color: red;
}

#blue {
    background-color: blue;
    margin-left: 5em;
}

#orange {
    background-color: orange;
    margin-left: 5em;

}

#green {
    background-color: green;
}

#bottom {
    margin-left: 1em;
}

.thumb {
    display: inline-block;
    height: 12em;
    width: 19em;
    margin-bottom: 1em;
    margin-top: 3em;
}

.bot-marg {
    margin-left: 6em;
}

#thumb2 {
    margin-left: 7em;
}
.blog {
    margin-bottom: 1em;
    float: left;
    height: 4em;
    width: 4em;
}


.container-fluid {
    width: 100%;
}

#twitter {
    margin-top: 1em;
    width: 16em;
    height: 7em;
}

#bottom-text {
    margin-top: 1em;
    text-align: left;
    font-weight: bold;
    font-size: 1.3em;
}

@media screen and (max-width: 992px){
    .circlepair {
        width: 10em;
    }
    #blue {
        margin: 0;
    }

    #orange {
        margin: 0;
    }

    #circlewrap {
        width: 100em;
    }


}